<div class="container">
    <form method="post" action="/AddProjectSubmit" enctype="multipart/form-data">
  <div class="mb-3 mt-5">
    <label for="projectName" class="form-label">Project Name</label>
    <input type="text" class="form-control" id="projectName" name="pname" required>

  </div>
  <div class="mb-3">
    <label for="projectUrl" class="form-label">Project url</label>
    <input type="text" class="form-control" id="projectUrl" name="purl" required>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">choose an image</label>
    <input type="file" class="form-control" id="image" name="pimage" required>
  </div>

  
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</div>